<div class="navbar">

    <div class="left">
        <ol>
            <li><a href="/shop/home">Home</a></li>
            <% if (isLoggedIn) { %> 
                <li><a href="/shop/cart">Cart</a></li>
                <li><a href="/shop/checkout">Checkout</a></li>
                <span>|</span>
                <li><a href="/admin?mode=add-product">Admin</a></li>
            <% } %>
        </ol>
    </div>
    <div class="right">
        <ol>
            <% if (isLoggedIn) { %>
                <li><a href="">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/">Login</a></li>
            <% } %>
        </ol>
    </div>
</div>

<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        background-color: whitesmoke;
        box-shadow: 1px 1px 5px black;
    }

    ol {
        display: flex;
        gap: 1rem;
        transition: 500ms;

        :hover {
            color: blue;
        }
    }


</style>