<div class="navbar">
    <div class="left">
        <ol>
            <li><a href="">Home</a></li>
            <li><a href="">Cart</a></li>
            <li><a href="">Checkout</a></li>
        </ol>
    </div>
    <div class="right">
        <ol>
            <li><a href="">Profile</a></li>
            <li><a href="">Logout</a></li>
        </ol>
    </div>
</div>

<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        background-color: whitesmoke;
        box-shadow: 1px 1px 5px black;
    }

    ol {
        display: flex;
        gap: 1rem;
        transition: 500ms;

        :hover {
            color: blue;
        }
    }


</style>