<%- include('../Shared/Head.ejs') %>
    <title>Online Shop | Reset Password</title>
</head>

<body>
    <div class="conatiner">

        <form>

            <input class="_user_id" type="hidden" value="<%= user_id %>" readonly >
            <input class="_token" type="hidden" value="<%= token %>" readonly >

            <div>
                <label for="">New Password</label>
                <input class="primary-input password-input" type="text" >
            </div>

            <div>
                <label for="">Confirm Password</label>
                <input class="primary-input confirm-password-input" type="text" >
            </div>
            
            <button type="submit" >Submit</button>

        </form>

       

    </div>
</body>

<script>

    document.querySelector("form").addEventListener('submit', async(ev) => {
        ev.preventDefault();

        const _token = document.querySelector('._token').value;
        const _user_id = document.querySelector('._user_id').value;

        const password_input = document.querySelector('.password-input').value;
        const confirm_password_input = document.querySelector('.confirm-password-input').value;
        
        const res = await fetch(`http://localhost:11111/reset-password`, {
            method: 'POST',
            headers: {
                "content-type": "application/json",
            },
            body: JSON.stringify({
                // password: password_input,
                confirm_password: confirm_password_input,
                _user_id: _user_id,
                _token: _token,
            })
        })

        const obj = await res.json();

        if(obj.success) {
            window.location.href = `http://localhost:11111/signin`;
        }
    })

</script>

<style>
    
    .conatiner {
      display: grid;
      place-items: center;
      height: 100svh;
      border: 1px solid black;
    }
  
    form {
      border: 1px solid black;
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  
    .primary-input {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
    }

    button {
      padding: 0.5rem;
      width: 90%;
      margin-inline: auto;
    }

</style>