<%- include('../Shared/Head.ejs') %>
    <title>Online Shop | Sign Up</title>
</head>

<body>

    <div class="conatiner">

        <form action="" class="signup-form" >

            <div>
              <label for="">Name</label>
              <input class="primary-input name-input" type="text" >
            </div>

            <div>
                <label for="">Email</label>
                <input class="primary-input email-input" type="text" >
            </div>

            <div>
                <label for="">Password</label>
                <input class="primary-input password-input" type="password" >
            </div>

            <div>
              <label for="">Confirm Password</label>
              <input class="primary-input confirm-password-input" type="password" >
            </div>
            
            <button class="signup-btn" >Sign Up</button>

            <a href="/">Already have an account?</a>
         
        </form>
 
    </div>
</body>

<script>
  document.querySelector('.signup-btn').addEventListener('click', async (ev) => {
    ev.preventDefault();

    console.log(document.querySelector('.name-input').value);
    console.log(document.querySelector('.email-input').value);
    console.log(document.querySelector('.password-input').value);
    console.log(document.querySelector('.confirm-password-input').value);

    const res = await fetch(`http://localhost:11111/signup`, {
        method: "PUT",
        headers: { "content-type": "application/json" },
        body: JSON.stringify({
          name: document.querySelector('.name-input').value,
          email: document.querySelector('.email-input').value,
          password: document.querySelector('.password-input').value,
          confirm_password: document.querySelector('.confirm-password-input').value
        })
    })

    const obj = await res.json();
    console.log(obj)

  })
</script>

<style>
  .conatiner {
    display: grid;
    place-items: center;
    height: 100svh;
    border: 1px solid black;
  }

  form {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    letter-spacing: 1px;
  }

  .primary-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  a {
    color: gray;
    text-decoration: underline;
    font-size: 0.8rem;
    text-align: center;
  }

  button {
    display: block;
    padding: 0.5rem;
  }
</style>