<%- include('../Shared/Head.ejs') %>
    <title>Online Shop | Sign Up</title>
</head>

<body>
    <div class="conatiner">

        <form action="" class="signup-form" >

            <div>
                <label for="">Email</label>
                <input class="primary-input email-input" type="text" >
            </div>

            <div>
                <label for="">Password</label>
                <input class="primary-input password-input" type="password" >
            </div>

            <div>
              <label for="">Confirm Password</label>
              <input class="primary-input password-input" type="password" >
            </div>
            
            <button>Sign Up</button>

            <a class="reset-password" href="">Already have an account?</a>
         
        </form>
 
    </div>
</body>

<style>
  .conatiner {
    display: grid;
    place-items: center;
    height: 100svh;
    border: 1px solid black;
  }

  form {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    letter-spacing: 1px;
  }

  .primary-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  a {
    color: gray;
    text-decoration: underline;
    font-size: 0.8rem;
    text-align: center;
  }

  button {
    display: block;
    padding: 0.5rem;
  }
</style>