<%- include('../Shared/Head.ejs') %>
    <title>Online Shop | Sign In</title>
</head>

<body>
    <div class="conatiner">

        <form class="signin-form" >

            <div>
                <label for="">Email</label>
                <input class="primary-input email-input" type="text" >
            </div>

            <div>
                <label for="">Password</label>
                <input class="primary-input password-input" type="password" >
                <div class="show-password" >
                  <input name="password-checkbox" type="checkbox">
                  <label for="password-checkbox">show password</label>
                  <a class="reset-password" href="/email-verification">Forgot password?</a>
                </div>
            </div>
            
            <div class="button-container " >
              <button class="signin-button" type="submit" >Sign-In</button>
              <button class="signin-google-button" type="button">Sign-In with Google</button>
            </div>
            
            <a class="create-account" href="">Create an account</a>

        </form>

    </div>
</body>

<script>

  // SIGN IN
  document.querySelector('form').addEventListener('submit', async (ev) => {
    ev.preventDefault();

    const email_input = document.querySelector('.email-input').value;
    const password_input = document.querySelector('.password-input').value;

    const res = await fetch('http://localhost:11111/signin', {
      method: "POST",
      headers: { "content-type": "application/json", }, // 	Tells the server: "Hey, I'm sending JSON"
      body: JSON.stringify ({
        email: email_input,
        password: password_input,
      })
    });

    const obj = await res.json();
    
    console.log(obj);

   

  })

  document.querySelector(".create-account").addEventListener("click", async (ev) => {
    ev.preventDefault();
    window.location.href = `http://localhost:11111/signup`
  })

  document.querySelector('.signin-google-button').addEventListener('click', async (ev) => {
    ev.preventDefault();
    window.location.href = `http://localhost:11111/auth/google`
  })

</script>

<style>
  .conatiner {
    display: grid;
    place-items: center;
    height: 100svh;
    border: 1px solid black;
  }

  form {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .primary-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .show-password {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }

  a {
    color: gray;
    text-decoration: underline;
    font-size: 0.7rem;
    text-align: center;
  }

  .reset-password {
    margin-left: auto;
  }

  .button-container {
    display: grid;
    gap: 5px;
    place-items: center;
  }

  button {
    padding: 0.5rem;
    width: 90%;
  }

</style>