<%- include('../Shared/Head.ejs') %>
     <title>Online Shop | Checkout</title>
</head>

<body>
    <%- include('../Shared/Navbar.ejs') %>

    <input class="csrfToken" type="hidden" value="<%= csrfToken %>" readonly>

    <div class="container">

        

    </div>

</body>

<style>

    .container {
        width: 90%;
        margin: 1rem auto;
        border: 1px solid black;
        padding: 1rem;
    }



</style>